.datepicker {
	position: relative;
	input {
		min-width: 205px;
		background: none;
		border: none;
		outline: none;
		z-index: 1;
	}
	&__icon {
		position: absolute;
		left: 180px;
		width: 24px;
		height: 24px;
		background: #5971E9;
		border-radius: 4px;
	}
}

