.mrp-container{
	margin-top:10px;
}

.mrp-icon{
	border: solid 1px #ddd;
	border-radius: 5px 0px 0px 5px;
	color: #FFFFFF;
	background: #5971E9;
	padding: 7px;
	margin-right:0px;
}

.mrp-monthdisplay{
	display:inline-block!important;
	border: solid 1px #ddd;
	padding: 4px 12px 3px 8px;
	border-radius: 0px 5px 5px 0px;
	background-color: #fff;
	cursor:pointer;
	margin-left: -5px;
}

.row {
	--bs-gutter-x: 0;
	--bs-gutter-y: 0;
}

.mrp-lowerMonth, .mrp-upperMonth{
	color: #000000;
	font-weight:bold;
	font-size: 11px;
	text-transform:uppercase;
}

.mrp-to{
	color: #aaa;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 11px;
	text-transform: uppercase;
	/* background-color: #eee; */
	padding: 5px 3px 5px 3px;
}

.mpr-calendar{
	display:inline-block;
	padding: 3px 5px;
	border-right: solid #999 1px;
}

div#mpr-calendar-2{
	border-right:none;
}

.mpr-calendar::last-child{
	border-right: none;
}

.mpr-month{
	padding: 20px;
	text-transform: uppercase;
	font-size: 12px;
}

.mpr-calendar h5{
	width:100%;
	text-align:center;
	font-weight:bold;
	font-size:18px
}

.mpr-selected{
	background: rgb(115 145 255 / 75%);
	color: #fff;
}

.mpr-month:hover{
	border-radius: 5px;
	box-shadow: 0 0 0 1px #ddd inset;
	cursor:pointer;
}

.mpr-selected.mpr-month:hover{
	border-radius: 0px;
	box-shadow: none;
}

.mpr-calendarholder .col-xs-6 {
	max-width: 250px;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
}

.mpr-calendarholder .col-xs-1 {
	max-width: 150px;
	min-width: 150px;
}

.mpr-calendarholder .btn-info{
	background-color: #40667A;
	border-color: #406670;
	width:100%;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 10px;
	padding: 10px 0px;
}

.mpr-quickset{
	color: #666;
	text-transform: uppercase;
	text-align: center;
}

.mpr-yeardown, .mpr-yearup{
	margin-left: 5px;
	cursor: pointer;
	color: rgb(89, 113, 233);
}

.mpr-yeardown{
	float:left;
}

.mpr-yearup{
	float:right;
}

.mpr-yeardown:hover,.mpr-yearup:hover{
	color: #40667A;
}

.mpr-calendar:first .mpr-selected:first{
	background-color: #40667A;
}

.mpr-calendar:last .mpr-selected:last{
	background-color: #40667A;
}

.popover{
	max-width: 1920px!important;
}

.mpr-MonthsWrapper {
	display: flex;
	flex-wrap: wrap;
}
.mpr-month {
	width: 25%;
}

.popover {
	z-index: 999;
	transform: translate(213px, 0px) !important;
	position: absolute !important;
	border: 8px solid white;
	border-radius: 8px;
	@include media-max(991) {
		transform: translate(80px, 0px) !important;
	}
}